// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon {
  color:#273B7A;
  font-size: 16px;
}

.review-content {
  font-size: 16px;
}
